.lexend-400 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.lexend-500 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
}

.lexend-600 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
}
